FASTAPI_URL=http://localhost:8000/predict/
OBD_DATABASE_PATH=obd_data.db
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_MESSAGING_SERVICE_SID=your_twilio_messaging_service_sid
TWILIO_PHONE_NUMBER=+201000000000
